.form {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

    &-btns {
        float: right;
        border: 2px solid #0058ab;
        padding: 20px;
        border-radius: 5px;
    }

    &__ipt {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    &__btn {
        padding: 15px;
        background-color: #00ABA9;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        text-decoration: none;

        &_navigation {
            margin-bottom: 30px;
            font-size: 30px;
            font-weight: bold;
            background-color: #0058ab;
        }

    }
}