<div class="page-header">
    <h1 class="page-header__title">SealJS</h1>

    <div class="page-header__desc">
        Developed by seals for seals. The cutest framework ever.
    </div>

    <div class="page-header__desc">
        Simple app example
    </div>
</div>

<div class="page-logo-container">
    <img class="page-logo" src="img/logo.jpeg" alt="logo" width="200">
</div>

<div class="form-btns">
    <a href="#/mentees" class="form__btn form__btn_navigation">Mentee</a>
    <a href="#/homework" class="form__btn form__btn_navigation">Homework</a>
</div>

<div class="clock js-clock">
    <span class="clock__number js-clock-hh">00</span>:
    <span class="clock__number js-clock-mm">00</span>:
    <span class="clock__number js-clock-ss">00</span>

    <button class="js-update-time-btn form__btn">stop</button>
</div>
<!--/.clock-->