<!DOCTYPE html>
<html>
<head>
    <title>Hello <%= name %>!</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <section class="page">
        Hello, <%= name %>!
    </section>
</body>
</html>