<!DOCTYPE html>
<html>
<head>
    <title>Hello <%= name %>!</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <section class="page">
        <h2>Hello, <%= name %>!</h2>
        <% if(unauthorized){ %>
            <h3><%= message %></h3>
            <a class="btn btn-info" href="<%= link%>">Login</a>
        <% } %>
    </section>
</body>
</html>