<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <section class="page">
        <h1>Hello, <%= email%></h1>
        <% if (authorized) { %>
        <img class="profile__image" src="<%= image%>" alt="">
        <a class="btn btn-danger" href="/logout">Logout</a>
        <a class="btn btn-info" href="/loadForm">Upload image</a>
        <% } else {%>
        <a class="btn btn-info" href="/login">Login</a>
        <% }%>


        <% if (authorized) {%>
            <form class="form"
                  name="post-form"
                  action="/createPost"
                  method="POST">
                <div class="form-group">
                    <label for="email">Post:</label>
                    <input name="content" type="text" class="form-control" id="title" placeholder="Enter post title">
                </div>
                <button type="submit" class="btn btn-default">publish</button>
            </form>
        <%}%>

        <ul class="wall" id="js-wall">

            <li class ="wall-filter">
                <%if(authorized) {%>
                <label class="wall-filter__lbl">
                    <input type="checkbox"
                           v-model="showMyPosts"
                           v-on:change="filterPosts()"> Filter my posts
                </label>
                <%}%>
                <a v-on:click="getMorePosts()">Load few more posts</a>
            </li>


            <li class="wall-post" v-for="post in posts" track-by="$index">
                <img width="70px" v-bind:src="post.postedBy.imageUrl" alt="">
                <h4 class="wall-post__author">{{post.postedBy.email}}</h4>
                <div class="wall-post__content">{{post.title}}</div>

                <%if(authorized) {%>
                <div class="wall-post-comment-box">
                    <form v-on:submit.prevent="addComment(post)"
                          track-by="$index"
                          class="form form_comment"
                          name="comment-form">
                        <div class="form-group">
                            <label class="form__ipt-lbl" for="comment">Add comment</label>
                            <input v-model="post.newComment" class="form__ipt form__ipt_comment form-control" name="comment" type="text" class="form-control" id="title" placeholder="Enter comment">
                            <button type="submit" class="btn btn-info">add</button>
                        </div>
                    </form>

                    <ul class="comments">
                        <li class="comments-item" v-for="comment in post.comments" track-by="$index">
                            <div class="comments-item__author-pic">
                                <img v-bind:src="comment.author.imageUrl" height="100%" alt="author">
                            </div>
                            <div class="comments-item__text">{{comment.text}}</div>
                            <div v-if="comment.author._id === (user ? user._id : '')"
                                 class="comments-item__delete-btn"
                                 v-on:click="removeComment(post, comment)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </div>
                        </li>
                    </ul>

                    <div>
                        <a v-on:click="loadMoreComments(post)">Load more comments</a>
                    </div>

                </div>
                <%}%>
            </li>

        </ul>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
    </section>

    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
</body>
</html>