<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <section class="page">
        <h1>Hello, <%= email%>
            <% if (authorized) { %>
            <a class="btn btn-danger" href="/logout">Logout</a>
            <% } else {%>
            <a class="btn btn-info" href="/login">Login</a>
            <% }%>
        </h1>

        <% if (authorized) {%>
            <form class="form"
                  name="post-form"
                  action="/createPost"
                  method="POST">
                <div class="form-group">
                    <label for="email">Post:</label>
                    <input name="content" type="text" class="form-control" id="title" placeholder="Enter post title">
                </div>
                <button type="submit" class="btn btn-default">publish</button>
            </form>
        <%}%>

        <%if(posts.length) {%>
        <ul class="wall">

            <%if(authorized) {%>
                <li class ="wall-filter">
                    <label class="wall-filter__lbl">
                        <input type="checkbox"> Filter my posts
                    </label>
                </li>
            <%}%>

            <%for(var i = 0; i < posts.length; i++){%>
                <li class="wall-post">
                    <h4 class="wall-post__author"><%= posts[i].postedBy.local.email%></h4>
                    <div class="wall-post__content"><%= posts[i].title%></div>
                    <div class="wall-post-comments">

                    </div>
                </li>
            <%}%>
        </ul>
        <%}%>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
    </section>
</body>
</html>