<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="mentoring-MyCalendar"
        version="0.0.1">

  <name>MyCalendar</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/MyCalendar.js" target="js/MyCalendar.js"/>

  <js-module src="www/MyCalendar.js" name="MyCalendar">
    <clobbers target="MyCalendar" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MyCalendar">
        <param name="android-package" value="mentoring.plugin.MyCalendar"/>
      </feature>
    </config-file>

    <source-file src="src/android/MyCalendar.java" target-dir="src/mentoring/plugin/"/>
  </platform>

</plugin>