.news {
    &_content_photo {
        & .news__list {
            margin-top: 0;
        }

        & .news-item {
            margin-bottom: 19px;
            padding: 0;

            &:before {
                display: none;
            }
        }

        & .news-item__title {
            &-container {
                font-size: 18px;
                line-height: 1.111;
                @include bold;
            }
        }

        & .news-item__content-flag {
            left: 8px;
            bottom: 12px;
        }
    }
}

