.news {
    &_content_interesting {
        border-bottom: 5px solid #333333;

        & .news-item {
            margin-bottom: 15px;
            padding-left:  0;
            @include clearfix;

            &:before {
                display: none;
            }

            //TODO: remove float from link and change markup
            &__link {
                float: left;
            }

            &__title {
                &-container {
                    float: left;
                    width: 195px;
                    padding-left: 10px;

                    font-size: 18px;
                    line-height: 1.111;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
