.media-illustrated {
    &_priority_low &-item {
        margin-bottom: 15px;
        padding-left: 0;
        @include clearfix;

        &__figure {
            max-width: 34%;
        }

        &__title {
            &-container {
                max-width: 66%;
                padding-left: 10px;
                line-height: 1.111;
                text-overflow: ellipsis;
                font-size: 18px;
            }
        }
    }

    @include breakpoint(desktop) {
        &_priority_low {
            border-bottom: 5px solid #333333;
        }
    }

    @include breakpoint(tablet) {
        &_priority_low {
            float: left;
            width: 44%;
            border-bottom: none;
        }

        &_priority_low &-item {
            &__title {
                &-container {
                    font-size: 20px;
                }
            }
        }

    }

    @include breakpoint(mobile) {
        &_priority_low {
            border-bottom: 5px solid #333333;
        }

        &__title {
            &-container {
                font-size: 22px;
            }
        }
    }
}
