<div>
    <a href="#home" class="form__btn form__btn_navigation">back</a>

    <div class="list">
        <h2 class="list__title">
            Mentee's list
        </h2>

        <ul class="list-body js-mentees-list">
        </ul>
    </div>

    <form action="" class="form">
        <input class="form__ipt js-mentee-add-name" type="text" placeholder="Name">
        <input class="form__ipt js-mentee-add-surname" type="text" placeholder="Surname">

        <div>
           <label><input class="js-mentee-add-mentor" type="checkbox" name="has-mentor">has mentor</label>
        </div>

        <button class="form__btn js-add-button">add</button>
    </form>
</div>



