.ie8 .media-detailed {
    &__list {
        &-wrap {
            margin-right: -17px;
        }
    }

    &-item {
        width: percentage(142/637);
        margin-right: percentage(17/637);
    }
}