.sprinkler {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;

    &__main-form {
        width: 30%;
        margin: 0 auto;
    }
}

.state {
    &_list {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    
    &_hide {
        display: none;
    }
    
    &__controls {
        text-align: center;
    }

    &__title {
        padding: 15px;
        border: 2px solid #ddd;
        text-align: center;

        &_add {
            border: none;
        }
    }
}

