.wall {
    padding: 15px 0;
    margin: 0;
    border-top: 10px solid #80C4D8;
    list-style: none;

    &-filter {
        @include clearfix;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid #78CBFD;
        
        &__lbl {
            cursor: pointer;
        }

        &__more-posts {
            float: right;
        }
    }
    
    &-post {
        padding: 15px;
        margin-bottom: 20px;
        border: 2px solid #ddd;
        
        &__author {
            color: #0d5cce;
            margin-bottom: 10px;
        }

        &__content {
            display: block;
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1.2em;
        }
        
        &-comment-box {
            &:before {
                content: 'comments';
                display: block;
                height: 20px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                background-color: #777;
            }
        }
    }
}