.block-title {
    vertical-align: middle;
    border-bottom: 2px solid #333333;

    &__inner {
        display: inline-block;
        margin: 0 0 -7px 0;
        padding: 0 10px 0 0;
        vertical-align: middle;
        line-height: 1.25;
        background-color: #fff;
        font-weight: normal;
        color: rgb(51, 51, 51);
        border-bottom-color: #333333;
        @include get-font-size(24);

        &_attention {
            color: rgb(61, 118, 204);
        }

        &_emphasize {
            padding: 0 5px;
            margin:0 0 -15px 0;
            line-height: 1;
            text-transform: uppercase;
            color: rgb(106, 0, 153);
            @include get-font-size(18);
        }

        &_simple {
            margin: 0;
        }

    }

    &_attention {
        border-bottom-color: #c80000;
    }

    &_emphasize {
        text-align: center;
        @include get-font-size(14);
    }
}

