.media {
    margin-bottom: 25px;

    &__list {
        margin-top: 10px;
    }

    &-item {
        position: relative;
        padding-left: 10px;
        margin-bottom: 5px;

        &:before {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;

            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $black;
        }

        &__figure {
            float: left;
            width: 100px;
            margin: 0;
        }

        &__img {
            max-width: 100%;
            height: auto;
        }

        &__title {
            font-size: 100%;
            text-transform: none;
            text-decoration: none;
            color: $black;

            &:hover {
                text-decoration: underline;
                color: $blue
            }

            &_detailed {
                line-height: 1.2;
            }

            &-container {
                margin: 0;
                padding: 0;
                line-height: 1.5;
                font-weight: normal;
                @include get-font-size(14);

                &_detailed {
                    float: left;
                    width: 280px;
                    padding-top: 7px;
                    padding-left: 8px;
                    @include bold;
                }
            }
        }

        &_detailed {
            padding-left: 0;
            @include clearfix;

            &:before {
                display: none;
            }
        }

    }

    &__more {
        display: block;
        margin-top: 18px;
        font-size: 18px;
        line-height: 1.111;
        text-decoration: none;
        text-transform: none;
        color: $blue;
    }
}
