


.Hot_themes {
    font-size: 18px;
    font-family: "PTSans";
    color: rgb(255, 255, 255);
    line-height: 1.056;
    text-align: left;
    position: absolute;
    left: 243.844px;
    top: 35.496px;
    z-index: 84;
}
