.menu {
    background-color: #d7d8d9;
    @include clearfix;

    &__title {
        float: left;
        margin: 0;
        padding: 5px 15px 7px 15px;
        line-height: 1.056;
        background-color: #333333;
        color: #fff;
        font-weight: normal;
        @include get-font-size(18);
    }
    
    &__list {
        @include clearfix;
    }
    
    &__option {
        float: left;
        height: 100%;
        padding: 5px 15px 7px 15px;
        line-height: 1.056;
        text-decoration: none;
        font-weight: normal;
        color: rgb(51, 51, 51);
        @include get-font-size(18);
    }
}




