.illustrated-media {
    margin-bottom: 25px;

    &__list {
        margin-top: 10px;
        list-style-type: none;
    }

    &-item {
        position: relative;
        padding-left: 10px;
        margin-bottom: 5px;
        @include clearfix;

        &__figure {
            position: relative;
            float: left;
            margin: 0;
        }

        &__img {
            max-width: 100%;
        }

        &__type-flag {
            position: absolute;
            left: 3px;
            bottom: 7px;

            &_video {
                @include sprite($sprite-icon-video-big);
            }

            &_photo {
                @include sprite($sprite-icon-photo-big);
            }
        }

        &__title {
            font-size: 100%;
            text-transform: none;
            text-decoration: none;
            color: rgb(51, 51, 51);

            &:hover {
                text-decoration: underline;
                color: #3d76cc
            }

            &-container {
                float: left;
                margin: 0;
                padding: 0;
                line-height: 1.5;
                font-weight: normal;
            }
        }
    }

    &__more {
        display: block;
        margin-top: 18px;
        line-height: 1.111;
        text-decoration: none;
        text-transform: none;
        color: rgb(61, 118, 204);
        @include get-font-size(18);
    }
}
