.illustrated-media {
    margin-bottom: 25px;

    &__list {
        margin-top: 10px;
        list-style-type: none;
    }

    &-item {
        position: relative;
        padding-left: 10px;
        margin-bottom: 5px;
        @include clearfix;

        &__figure {
            position: relative;
            float: left;
            margin: 0;
        }

        &__img {
            max-width: 100%;
        }

        &__type-flag {
            position: absolute;
            left: 3px;
            bottom: 7px;
            width: 24px;
            height: 20px;

            &_video {
                border: 3px solid #fff;
                background-color: #6a0099;
                border-radius: 5px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0; left: 0; bottom: 0; right: 0;
                    width: 0;
                    height: 0;
                    margin: auto;
                    border-left: 10px solid #fff;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                }

                .ie8 & {
                    border: none;
                    background-color: transparent;
                    @include sprite($sprite-icon-video-big);

                    &:before {
                        display: none;
                    }
                }
            }

            &_photo {
                border: 3px solid #fff;
                background-color: #c80000;
                border-radius: 5px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0; left: 0; bottom: 0; right: 0;
                    width: 10px;
                    height: 10px;
                    margin: auto;
                    border: 3px solid #fff;
                    border-radius: 50%;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    width: 10px;
                    height: 6px;
                    margin: auto;
                    border-top: 3px solid #fff;
                    border-radius: 3px;
                    background-color: #c80000;
                }

                .ie8 & {
                    background-color: transparent;
                    border: none;
                    @include sprite($sprite-icon-photo-big);

                    &:after, &:before {
                        display: none;
                    }
                }
            }
        }

        &__title {
            font-size: 100%;
            text-transform: none;
            text-decoration: none;
            color: rgb(51, 51, 51);

            &:hover {
                text-decoration: underline;
                color: #3d76cc
            }

            &-container {
                float: left;
                margin: 0;
                padding: 0;
                line-height: 1.5;
                font-weight: normal;
            }
        }
    }

    &__more {
        display: block;
        margin-top: 18px;
        line-height: 1.111;
        text-decoration: none;
        text-transform: none;
        color: rgb(61, 118, 204);
        @include get-font-size(18);
    }
}
