.content {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;

    &-wrapper {
        background-color: #d4f3ff;
    }

    &__title {
        margin: 30px 0;
        padding: 0;
        font-weight: bold;
    }
}