.container {
    max-width: $container-width + px;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
}

.link {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}