*, *:before, *:after {
    box-sizing: border-box
}

body {
    @include regular;
    font-size: $base-font-size + px;
}

fieldset,
input,
ul {
    padding: 0;
    margin: 0;
}

fieldset,
input {
    border: 0 none;
}

input {
    font-size: 1em;
}

ul {
    list-style: none;
}

@include breakpoint(desktop) {
    body {
        font-size: $base-font-size + px;
    }
}

@include breakpoint(tablet) {
    body {
        font-size: $base-font-size + 2 + px;
    }
}

@include breakpoint(mobile) {
    body {
        font-size: $base-font-size + 4 + px;
    }
}