$base-font-size: 16;

$container-width: 980;
$container-inner-width: 940;

//fonts
$main-font-regular: 'PT_sans_regular', 'Arial', sans-serif;
$main-font-bold: 'PT_sans_bold', 'Arial', sans-serif;
$main-font-italic: 'PT_sans_italic', 'Arial', sans-serif;
$main-font-bold-italic: 'PT_sans_bold_italic', 'Arial', sans-serif;

//TODO: add variables for common colors